git+https://github.com/mkdocs/mkdocs.git
git+https://${GH_TOKEN}@github.com/squidfunk/mkdocs-material-insiders.git
git+https://github.com/facelessuser/pymdown-extensions.git
git+https://github.com/pygments/pygments.git
git+https://github.com/byrnereese/mkdocs-minify-plugin.git
