name: gh-pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  gh-pages:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v5

    - name: Setup Git configs
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config user.name "${GITHUB_ACTOR}"
        git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
        git remote set-url origin "https://x-access-token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git"

    - name: Convert asciidoc to markdown
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends --no-install-suggests pandoc ruby-dev
        sudo gem install asciidoctor --pre
        asciidoctor -b docbook -a leveloffset=+1 -o - WebAssembly.asciidoc | pandoc --atx-headers --wrap=preserve -t markdown_strict -f docbook - > WebAssembly.md

    - name: Remove unsupported 'template' directive
      run: |
        sed -i '/template: true/d' All.md

    - name: Build and deploy with mkdocs
      uses: docker://squidfunk/mkdocs-material:latest
      env:
        GH_TOKEN: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
      with:
        entrypoint: sh
        args: |
          -c \
          "git config --global --add safe.directory /github/workspace && \
           pip install -U --pre --compile --requirement /github/workspace/config/requirements.txt && \
           mkdocs build -c -f /github/workspace/config/mkdocs.yml && \
           mkdocs gh-deploy --config-file /github/workspace/config/mkdocs.yml --verbose --force"
